{% extends 'calificaciones/base.html' %}

{% block content %}
<h1>Listado de Cursos</h1>

<a href="{% url 'calificaciones:curso_crear' %}">Agregar Nuevo Curso</a>

<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for curso in cursos %}
        <tr>
            <td>{{ curso.id }}</td>
            <td>{{ curso.nombre }}</td>
            <td>
                <a href="{% url 'calificaciones:curso_detalle' curso.id %}">Ver</a> |
                <a href="{% url 'calificaciones:curso_editar' curso.id %}">Editar</a> |
                <a href="{% url 'calificaciones:curso_eliminar' curso.id %}">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No hay cursos registrados</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
